@font-face
  font-family: "DiabloHeavy"
  src: url("../fonts/diabloh.eot")
  src: url("../fonts/diabloh.eot?#iefix") format("embedded-opentype"),
       url("../fonts/diabloh.otf") format("opentype"),
       url("../fonts/diabloh.svg") format("svg"),
       url("../fonts/diabloh.ttf") format("truetype"),
       url("../fonts/diabloh.woff") format("woff"),
       url("../fonts/diabloh.woff2") format("woff2")
  font-weight: normal
  font-style: normal

.font-diablo
  font-family "DiabloHeavy", sans-serif
